@page "/home"
<h1>Today's Menu</h1>
<div class="border p-5">
    <div class="text-center text-muted">
        <i class="fa-solid fa-robot fa-2xl pb-3"></i>
    </div>
    <div class="text-center text-muted">
        This feature is not enabled yet. Manage your meals from the "Meals" menu above
    </div>
</div>