@page "/home"
<div class="">
    <Section Title="Today's Menu">
        <div class="text-center text-muted">
            <i class="fa-solid fa-robot fa-2xl pb-3"></i>
        </div>
        <div class="text-center text-muted">
            This feature is not enabled yet. Manage your meals from the "Meals" menu above
        </div>
    </Section>
</div>

<div class="mt-5">
    <Section Title="Newest Meals">
        <div class="text-center text-muted">
            <i class="fa-solid fa-robot fa-2xl pb-3"></i>
        </div>
        <div class="text-center text-muted">
            This feature is not enabled yet. Manage your meals from the "Meals" menu above
        </div>
    </Section>
</div>