@page "/"
@attribute [AllowAnonymous]
@inject UserAuthenticationStateProvider _userAuthenticationStateProvider
@inject ITokenService _tokenService

<PageTitle>Home</PageTitle>
<AuthorizeView>
    <Authorized>
        <RedirectHome />
    </Authorized>
    <NotAuthorized>
        <Section>
            <div class="text-center display-1">
                Meal Poker
            </div>
            <div class="text-center display-5 pt-3">
                Make Meal Planning a Breeze!
            </div>
            <p class="text-center pt-5">
                Tired of the weekly struggle of putting together a menu for every dinner during the week while trying to
                juggle your family's busy schedule, dietary restrictions, and plain old pickiness?
            </p>
            <p class="text-center">
                Meal Poker is here to help! Meal Poker is a simple, easy-to-use meal planning tool that takes the stress
                out of planning your weekly meals. Simply add all of your meals, set your preferences, and let Meal
                Poker do the rest!
            </p>
            <p class="text-center pt-5 text-muted">
                MealPoker is currently in development. New features are being added all the time!
            </p>
        </Section>
    </NotAuthorized>
</AuthorizeView>