@page "/meals"
@attribute [Authorize]
@inject IMealService _mealService

<PageTitle>Meals</PageTitle>

<div class='container'>
    <div class="row">
        <div class="col">
            <h1>Meals</h1>
        </div>
        <div class="col text-right">
            <NavLink class="btn btn-primary" href="/meals/add">Add Meal</NavLink>
        </div </div>
    </div>
    @foreach (var meal in meals)
{
        <div class='pb-2'>
            <MealRow Meal="@meal" />
        </div>
}


@code {
    private List<MealResponse> meals = [];

    protected override async Task OnInitializedAsync()
    {
        meals = await _mealService.GetMealsAsync(CancellationToken.None);
    }
}