@inherits LayoutComponentBase
@inject UserAuthenticationStateProvider AuthState
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <GoogleLoginButton />
                </NotAuthorized>
                <Authorized>
                    <NavLink class="nav-link" href="profile" style="color:black">
                        <div class="profile-container" style="display:flex;align-items:center;padding-left:12px;">
                            <img src="@AuthState.CurrentUser.PictureUri" style="border-radius:50%;height:30px;" />
                        </div>
                    </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
