@inherits LayoutComponentBase
@inject UserAuthenticationStateProvider AuthState
@inject IJSRuntime JSRuntime

<div class="vh-100 bg-body-secondary overflow-auto">
    <div class="sticky-top">
        <NavMenu />
    </div>

    <div class="container my-4 p-3">
        @Body
    </div>

</div>