<nav class="p-3 bg-white">
    <div class="row align-items-center">
        <div class="col">
            <span class="wordmark">MealPoker</span>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="col-auto nav-item">
                    <NavLink class="nav-link p-2" href="home">
                        Home
                    </NavLink>
                </div>
                <div class="col-auto nav-item">
                    <NavLink class="nav-link p-2" href="meals">
                        Meals
                    </NavLink>
                </div>
                <div class="col-auto">
                    <ProfileButton />
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="col-auto">
                    <GoogleLoginButton />
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>