<nav class="navbar navbar-expand-sm bg-body border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">MealPoker</a>
        <AuthorizeView>
            <Authorized>
                <button class="navbar-toggler" type="button" @onclick="ToggleNav" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </Authorized>
            <Authorizing>
                <div>Signing in...</div>
            </Authorizing>
            <NotAuthorized>
                <GoogleLoginButton />
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="collapse navbar-collapse @showNavBarCss">
                    <ul class="navbar-nav ms-auto align-items-sm-center align-items-end">
                        <li class="nav-item">
                            <NavLink class="nav-link p-2" href="home" @onclick="ToggleNav">
                                Home
                            </NavLink>
                        </li>
                        <li class="nav-item ms-2">
                            <NavLink class="nav-link p-2" href="meals" @onclick="ToggleNav">
                                Meals
                            </NavLink>
                        </li>
                        <li class="nav-item ms-2" @onclick="ToggleNav">
                            <ProfileButton ShowName=true />
                        </li>
                    </ul>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private string showNavBarCss = "";

    private void ToggleNav()
    {
        if (showNavBarCss == "")
        {
            showNavBarCss = "show";
        }
        else
        {
            showNavBarCss = "";
        }
    }
}