.nav-item {
  font-size: 0.9rem;
  border-radius: 32px;
}

.nav-item ::deep a {
  border-radius: 32px;
}

.nav-item ::deep a.active {
  background-color: #eae2e2;
  border-radius: 32px;
}

.nav-item ::deep a:hover {
  border-radius: 32px;
}
