@inject UserAuthenticationStateProvider _userAuthenticationStateProvider

<a href="/profile">
    <ProfilePicture UserId="Guid.Parse(_userAuthenticationStateProvider.CurrentUser.UserId!)"
        FirstName="@_userAuthenticationStateProvider.CurrentUser.FirstName"
        LastName="@_userAuthenticationStateProvider.CurrentUser.LastName" />
</a>