@inject IMealService _mealService

<div class="row position-relative" style="grid-auto-rows: 1fr;">
    <div class="col-auto text-center">
        <span class="align-middle">@(_mealService.GetEmojiForCategory(MealPart.Category) ?? "")</span>
    </div>
    <div class="col">
        <span class="align-middle">@MealPart.Name</span>
    </div>
    <div class="col-auto">
        @if (!string.IsNullOrEmpty(MealPart.Url))
        {
            <a class="stretched-link" href="@MealPart.Url" target="_blank">View Recipe</a>
        }
    </div>
</div>

@code
{
    [Parameter]
    public required MealPart MealPart { get; set; }

}