<div class="w-100">
    <div class="row">
        <div class="col">
            <h5>@Meal.Name</h5>
        </div>
        <p class="text-secondary">@Meal.Description</p>
        @foreach (var mealPart in Meal.MealParts ?? [])
        {
            <MealPartRow MealPart="mealPart" />
        }
    </div>
    <div class="row my-1">
        <div class="col text-end">
            <div class="border-top pt-2">
                <a class="link-danger" @onclick="Delete">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public required MealResponse Meal { get; set; }
    [Parameter]
    public EventCallback<MealResponse> OnDelete { get; set; }

    private async Task Delete()
    {
        await OnDelete.InvokeAsync(Meal);
    }
}